<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.c4biz.osgiutils.examples.vaadin_shiro.server.EquinoxServer">
         </run>
      </application>
   </extension>
      
   <extension
         id="productweb"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.c4biz.osgiutils.examples.vaadin-shiro.server.application"
            name="Vaadin-OSGi Shiro Example: Equinox Vaadin Product">
         <property
               name="appName"
               value="Vaadin-OSGi Shiro Example: Equinox Vaadin Product">
         </property>
      </product>
   </extension>



</plugin>
