<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="osgi_utils_indigo_ide_post_tycho_building" sequenceNumber="39">
<locations>
<location path="${project_loc:/com.c4biz.osgiutils.p2.indigo}/target/repository" type="Directory"/>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="org.hamcrest.text"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.log"/>
<plugin id="org.apache.shiro.core"/>
<plugin id="org.quartz"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.security.macosx"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.jbpm.flow.core"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.hamcrest"/>
<plugin id="javax.servlet"/>
<plugin id="org.apache.shiro.web"/>
<plugin id="org.xmlpull"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="javax.xml.stream"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.drools.compiler"/>
<plugin id="org.apache.shiro.quartz"/>
<plugin id="org.jbpm.bpmn2"/>
<plugin id="org.antlr.runtime"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.mvel2"/>
<plugin id="derbyclient"/>
<plugin id="org.jbpm.flow.builder"/>
<plugin id="org.drools.core"/>
<plugin id="org.hamcrest.core"/>
<plugin id="com.thoughtworks.xstream"/>
<plugin id="org.drools.api"/>
<plugin id="javax.xml"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="org.hamcrest.library"/>
<plugin id="com.vaadin"/>
<plugin id="com.mysql.jdbc"/>
<plugin id="javax.el"/>
</includeBundles>
</target>
