<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo_building" sequenceNumber="23">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8h8eNV4Vrz-hz01A7SL_MhZP"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location path="${project_loc:/com.c4biz.osgiutils.examples}/../com.c4biz.osgiutils.p2/target/repository" type="Directory"/>
</locations>
</target>
